.container
  h1.text-center
    | Chowpartner FAQs
  hr
  p
    strong
      | What is a Chowpartner?
  li
    | Chow = Food. Our Chowpartners are the bread and butter of Chowpocket. They are home-based cooks.

  br

  p
    strong
      | How does Chowpocket.com work?
  li 
    | We get Chowpartners orders by doing all the marketing, sales and payments for hungry Buyers. All you need to do is cook delicious food.

  hr

  p
    strong
      | Does it cost  to join Chowpocket.com?
  li
    | No, it’s free to join. We simply charge a fee for each successful order.

  br

  p
    strong
      |  How do I join Chowpocket.com as a Chowpartner?
  li 
    | Visit our a href='https://trychowpocket.typeform.com/to/PWjYyk' Chowpartner Registration webpage to find out more.

  br

  p
    strong
      |  How do I set the price of my food?
  li 
    | We don’t. You do. You are your own boss and decide what you want to charge but we do have a nice recommendation guide to maximise sales.

  br

  p
    strong
      | How do I get paid?
  li
    |  We take payment from the Buyer upon order. For each completed order we pay you weekly (less our fee) directly into your bank account.

  br

  p
    strong
      | What if I make food that has a number of combination choices?
  li
    | Our system allows you to setup different portion sizes and have any number of question/answer combinations to ask customers when they order. If this is still not enough, customers can contact you directly via your personal ‘contact’ form.

  br

  p
    strong
      | Do I have to cook all the time?
  li
    | No, you only need to make food to order. We ensure that orders are submitted to you with plenty of time for you to make the food.

  br

  p
    strong
      | Do I have to deliver to my customers?
  li
    | No, you only need to make food to order. We ensure that orders are submitted to you with plenty of time for you to make the food.
  
  br

  p
    strong
      | What if I go on holiday?
  li
    | You can easily tell people you’re on holiday through your Chowpartner account. Everyone can still see your store but they can only order for when you say you’re back and making food again.


  br
  br
