/.alert.alert-danger
  = "Notice: Food will be delivered on <b>#{get_delivery_day} 10AM - 12NN</b>".html_safe
.building-show-page data-menus='#{@menus.to_json}' data-cart-id='#{@cart.try(:id)}' data-cart='#{@line_items.presence}' data-total-price='#{@cart.try(:total_price)}' data-user-logged-in='#{user_signed_in?}' data-modal-info='#{image_path('InfoButton.png')}'
