.building-show-page__menu-item-picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.building-show-page__menu-item-panel-body {
  padding: 0px;
}

.building-show-page__menu-item-panel-footer {
  padding: 0px;
}

.building-show-page__menu-item-title {
  padding: 0 15px;
}

.building-show-page__cart-item-price {
  color: red;
}
