.inputs .select2-container {
  width: 50%!important;
}

.select2-container .select2-choice{
  height: 30px;
  border: 1px solid #e4eaec;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
}

.select2-search input {
  border: 1px solid #e4eaec;
  border-radius: 4px;
}

.select2-container .select2-choice:not(.select2-dropdown-open){
  height: 30px;
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
}

.select2-container > 
.select2-choice > 
.select2-arrow {
  border-left: 1px solid #e4eaec;
  background: #e4eaec;
}
